* {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

header h1,
header h1 span {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    padding: 1.8rem 0;
    font-size: 1.5rem;
    color: limegreen;
    font-weight: bold;
    span {
        letter-spacing: -1.5px;
    }
}

body {
    background: #000;
    @media screen and (min-width: 768px) {
        background: #fff;
    }
    .wrapper {
        margin: auto;
        width: auto;
        max-width: 640px;
        @media screen and (min-width: 768px) {
            width: 640px;
            max-width: unset;
        }
        .canvas-container {
            margin-top: 80px;
            width: auto;
            height: auto;
            background: #000;
            box-shadow: none;
            @media screen and (min-width: 768px) {
                display: inline-block;
                box-shadow: 0 8px 6px -6px #333;
            }
            #canvas {
                width: 100%;
                max-width: 640px;
            }
        }

        aside {
            display: block;
            clear: both;
            margin-top: 20px;
            p {
                font-family: Arial;
                font-size: 1rem;
            }
        }
    }
}
