* {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

body {
    margin: auto;
}

header h1,
header h1 span {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    padding: 1.8rem 0;
    font-size: 1.5rem;
    color: limegreen;
    font-weight: bold;
    span {
        letter-spacing: -1.5px;
    }
}

.wrapper {
    margin: auto;
    width: 640px;
    .canvasholder {
        margin: auto;
        display: inline-block;
        line-height: 0;
        font-size: 0;
        background: #111;
        box-shadow: none;
    }
}

@media screen and (max-width: 768px) {
    body {
        margin: 0 auto;
        padding: 0;
        background: #000;
        .wrapper {
            max-width: 640px;
            width: auto;
            .canvasholder {
                box-shadow: none;
                width: auto;
                height: auto;
                #canvas {
                    width: 100%;
                    max-width: 640px;
                }
            }
        }
    }
}
